*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:  lightsteelblue;
}

.nav-bar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.nav-bar ul li::after{
    content: '';
    height: 3px;
    width: 100px;
    background: lightblue;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.nav-bar ul li:hover::after {   
    width: 100%;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s, ease 0s;
}

.newCustomer {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s, ease 0s;

}